
<div>
    <button type="button" (click)="Add()">Add Package</button>
</div>
<div class="card-body table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>   
                <th>Packages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                
                <td>Package 1</td>
                <td> <button type="button" (click)="edit()">Edit</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Package 2</td>
                <td> <button type="button" (click)="edit()">Edit</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                
                <td>Package 3</td>
                <td> <button type="button" (click)="edit()">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
