<div class="login-page" [@routerTransition] style="background:url('./assets/images/login-gym.jpeg');">
    <div class="row justify-content-md-center">
        <div class="wrapper">
            <form class="login">
                <p class="title"><img src="assets/images/logo.png" class="login-logo"></p>
                <input type="text" placeholder="Username" [(ngModel)]="userModel.userEmail" name="username" autofocus/>
                <i class="fa fa-user"></i>
                <input type="password" placeholder="Password" name="password" [(ngModel)]="userModel.userPassword" />
                <i class="fa fa-key"></i>
                <a href="#">Forgot your password?</a>
                <button (click)="onLoggedin()" class="login-btn">
                    <i class="spinner"></i>
                    <span class="state">Log in</span>
                </button>
            </form>
            <footer><a target="blank" href="http://fitnesswaypro.com/">Fitness Way Pro</a></footer>

        </div>
    </div>
</div> 
