<div [@routerTransition] class="padding-20">
    <!--<app-page-header [heading]="'Clients'" [icon]="'fa-edit'"></app-page-header>-->
    <div class="row">
        <h3>Manage Clients Info</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>First Name</label>
                <input class="form-control" placeholder="Please provide FirstName">

            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Last Name</label>
                <input class="form-control" placeholder="Please provide Last Name">
            </fieldset>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Age</label>
                <input class="form-control" placeholder="Please provide age">
            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Gender</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Female
                    </label>
                </div>
            </fieldset>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Package</label>
                <select class="form-control">
                    <option>Package 1</option>
                    <option>Package 2</option>
                    <option>Package 3</option>
                    <option>Package 4</option>
                    <option>Package 5</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Total Fees</label>
                <input class="form-control" placeholder="Please provide Total fee">

            </fieldset>
        </div>
    </div>

   
    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Package Starting Date</label>
                <input class="form-control" placeholder="Please provide package starting date">

            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Last Payment Amount</label>
                <input class="form-control" placeholder="Please provide Last Payment Amount">

            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Last Payment Date</label>
                <input class="form-control" placeholder="Please provide Last Payment Date">

            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Next Payment Date</label>
                <input class="form-control" placeholder="Please provide Next Payment Date">

            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Next Payment Amount</label>
                <input class="form-control" placeholder="Please provide Next Payment Amount">

            </fieldset>
        </div>
        <div class="col-lg-6">
            <fieldset class="form-group">
                <label>Pending Dues if Any!</label>
                <input class="form-control" placeholder="Pending dues will populate here!!!">

            </fieldset>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-6 text-left">
            <fieldset class="form-group">
                <button type="button" (click)="back()" class="btn btn-lg btn-warning">Back</button>
            </fieldset>
        </div>
        <div class="col-lg-6 text-right">
            <fieldset class="form-group">
                <button type="button" (click)="save()" class="btn btn-lg btn-success">Save</button>
            </fieldset>
        </div>
    </div>

</div>

<!--<table>
   
           
    <tr>
        <td>
            <div>
                <button type="button" (click)="save()">Save</button>
            </div>
        </td>
        <td>
            <div>
                <button type="button" (click)="back()">Back</button>
            </div>
        </td>
    </tr>
</table>-->
<!--</divclass="col-lg-6">-->
