<div align="center">

    <div>
        <h3>Manage Clients</h3>
    </div>
    <table>
        <tr>
            <td>
                <h5>Name</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:200px" />
            </td>
            <td>
                <h5>Age</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:50px" />
            </td>
        </tr>
        <tr>
            <div class="radio">
                <label>
                    <h5>Gender</h5>  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Male<br />
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked=""> Female
                </label><br />
            </div>
        </tr>
        <tr>
            <fieldset class="form-group">
                <label for="exampleInputFile"><h5>Photo</h5></label>
                <input type="file" class="form-control-file" id="exampleInputFile">
            </fieldset>
        </tr>
        <tr>
            <td>
                <h5>Current Package</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:100px" />
            </td>
            <td>
                <h5>Total Fees</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:50px" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>Starting Date</h5> <input name="date" type="date" required>
            </td>
            <td>
               <h5>Due Date</h5>  <input name="date" type="date" required>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Last Payment</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:100px" />
            </td>
        </tr>
        <tr>
            <td>
                <h5>Last Payment Date</h5>  <input name="date" type="date" required>
            </td>
            <td>
                <h5>Next Payment Date</h5> <input name="date" type="date" required>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Next Payment Amount</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:100px" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <h5>Pending Dues</h5>
            </td>
            <td>
                <input type="text" style="height:20px;width:100px" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <button type="button" (click)="save()">Save</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="button" (click)="back()">Back</button>
                </div>
            </td>
        </tr>
    </table>
  
    
</div>
