<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="profile-option">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                <img src="../assets/images/user.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h3>Alena Mrtin</h3>
                <h5 class="user-role">Administrator</h5>
            </div>
        </div>


    </div>
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="material-icons">
                dashboard
            </i> {{ 'Home' | translate }}
        </a>
        <!--<div class="nested-menu">
        <a class="list-group-item">
            <i class="fa fa-cog"></i>&nbsp;{{ 'Admin' | translate }}
        </a>
        <li class="nested" [class.expand]="showMenu === 'pages'">
            <ul class="submenu">
                <li>
                    <a href="javascript:void(0)" ><span>{{ 'Staff' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLink]="['/packagelist']"><span>{{ 'Roles' | translate }}</span></a>
                </li>
            </ul>
        </li>
    </div>-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('admin')">
                <span><i class="material-icons">verified_user</i> {{ 'Admin' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'admin'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" ><span>  <i class="material-icons">people_outline</i> {{ 'Staff' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ><span><i class="material-icons"> supervised_user_circle </i> {{ 'Roles' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>




        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-address-book"></i>&nbsp; {{ 'Clients' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/clientlist']"><span><i class="fa fa-users"></i> {{ 'Clients' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/packagelist']"><span> <i class="fa fa-user-circle-o"></i> {{ 'Package Manager' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <!--<a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Clients' | translate }}
    </a>-->
        <!--<a  class="list-group-item">
        <i class="fa fa-warehouse"></i>&nbsp;{{ 'Stocks' | translate }}
    </a>-->
        <a class="list-group-item">
            <i class="fa fa-tags"></i>&nbsp;{{ 'Coupons' | translate }}
        </a>

        <!--<a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
    </a>
    <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
    </a>
    <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
    </a>-->
        <!--<div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('pages')">
            <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'pages'">
            <ul class="submenu">
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                </li>
            </ul>
        </li>
    </div>-->
        <!--<a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
    </a>-->
        <!--<a class="list-group-item more-themes" href="#">
        {{ 'More Theme' | translate }}
    </a>-->
        <div class="header-fields">
            <!--<a (click)="rltAndLtr()" class="list-group-item">
            <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
        </a>-->
            <!--<div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('languages')">
                <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'languages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('en')">
                            {{ 'English' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('fr')">
                            {{ 'French' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('ur')">
                            {{ 'Urdu' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('es')">
                            {{ 'Spanish' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('it')">
                            {{ 'Italian' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('fa')">
                            {{ 'Farsi' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="changeLang('de')">
                            {{ 'German' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>-->
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
